<main class="contact">
    <section>
        <form action="">
            <section>
                <div>
                    <span>GET IN TOUCH</span>
                    <h3>Contact</h3>
                </div>
        
                <div class="inputs">
                    <label for="name">Your Name</label>
                    <input type="text" placeholder="What's your name?">
                </div>
                <div class="inputs">
                    <label for="email">Your Email</label>
                    <input type="email" placeholder="What's your email">
                </div>
                <div class="inputs">
                    <label for="name">Your Message</label>
                    <input type="text" placeholder="What's your message?">
                </div>
            </section>
            <button>SEND <img src="" alt=""></button>
        </form>
    </section>
</main>