.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;

    padding: 32px;
    background-color: transparent;
    >a {
        &:hover{
            cursor: pointer;
        }
        >img{
            width: 128px;
        }
    }
}