@use '../../../styles.scss' as f;

* {
    color: black;
}

header {

    @include f.flex(center, start);

    .header {
        @include f.flex(space-between);
        padding: 18px 18px 3px 18px;
        position: fixed;
        width: 100%;
        // background-color: rgba(255, 255, 255, 0.99);
        background-color: rgba(244, 244, 246, 0.95);
        z-index: 2;
        // box-shadow: 0px 5px 5px 10px white;
        box-shadow: 0px 5px 10px 10px rgba(244, 244, 246, 0.95);
        max-width: f.$maxWidth;

        >a {
            >img {
                width: 250px;
                height: auto;
                cursor: pointer;
                margin-left: 65px;
            }
        }

    }
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    min-width: 50vw;
    gap: 32px;

    a {
        font-size: 28px;

        &:hover {
            // filter: brightness(0.5);
            color: gray;
        }

        &:after {
            content: '';
            display: block;
            border-style: solid;
            border-width: 0;
            background-color: black;
            border-color: black;
            height: 3px;
            width: 0;
            margin: auto;
            transition: all .350s ease-in-out;
        }


        &:hover::after {
            width: 70%;
            border: 1px solid black;
        }
    }
}


@media screen and (min-width: 1921px) {
    .navbar {
        min-width: 50%;
    }
}

@media screen and (max-width: 850px) {
    header {
        .header {
            >a {
                >img {
                    margin-left: unset;
                }
            }
        }
    }



    .navbar {
        gap: 18px;

        a {
            font-size: 22px;
        }
    }
}


@media screen and (max-width: 680px) {
    .navbar {
        min-width: unset;

        >a {
            display: none;
        }
    }


    header {
        .header {
            >a {
                >img {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {

    header {
        .header {
            >a {
                >img {
                    width: 150px;
                }
            }
        }
    }

    .navbar {
        gap: 18px;

        a {
            font-size: 18px;
        }
    }
    
}