<main class="about-me-section">
    <app-social-links-bar></app-social-links-bar>
    <section>
        <img src="./assets/img/profil.png" alt="">
        <div class="about-me">
            <h2>About me</h2>
            <div>
                <p>Hi! I'm a Front-end developer living in Jüchen, Germany. I love to bring ideas and vison to life,
                    with precision and passion.
                    Coding grows continuously and I'm looking forward to continue growing with it, with a Junior
                    developer job position.
                </p>
                <div class="more-about-me">
                    <div>
                        <div class="about-me-icon-ctn">
                            <img src="./assets/icons/code-icon.png" alt="">
                        </div>
                        <p>Developing is building, and I love it. Being it virtual or in real, I do my best to build
                            everything the best possible way and I feel always proud to see it grows and look at the final result.</p>
                    </div>
                    <div>
                        <div class="about-me-icon-ctn">
                            <img src="./assets/icons/chess-knight-icon.png" alt="">
                        </div>
                        <p>I have a lot of interests! Read, take a walk, playing games (board and video games), just
                            discuss about the world. I love activities making me thinking. I make sport and I'm always
                            happy to be with my family. And naturaly, I love coding!</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>