<main>
    <div class="above-the-fold">
        <div class="hello-world-ctn">
            <div class="hello-world">
                <h1>Hello World!</h1>
                <div>
                    <p>I'm <span id="personal-name">
                            <ngx-typed-writer [strings]="['Anthony,']" [cursorChar]="'|'" [showCursor]="true"
                                [backSpeed]="50" [typeSpeed]="150" [loop]="false" [startDelay]="1000">
                            </ngx-typed-writer>
                        </span></p>
                    ambitioned developer!
                </div>
                <a href="#contact">Get in Touch!</a>
            </div>
        </div>
    
        <img src="./assets/img/portrait.png" alt="above-the-fold-background">
    </div>
</main>
