<main class="skills-ctn">
    <section>
        <div class="skill-list">
            @for (technology of skills; track $index) {
            <app-technology [technology]="technology"></app-technology>
            }
        </div>
        <div class="my-skills">
            <h2>My Skills</h2>
            <span>I have built projects with diverse front-end technologies and concepts, gaining valuable
                experience.</span>
            <a id="contact-button" href="#contact">let's have a talk</a>
        </div>
    </section>
</main>