@use '../../../styles.scss' as f;
@use '../landing-page/landing-page.component.scss' as btn;
@use '../../app.component.scss' as shadow;

* {
    color: white;
}

.skills-ctn {
    @include shadow.top-shadow(#141414);
    height: 50vh;
    @include f.flex(center);
    flex-direction: column;
    width: 100%;


    >section {
        @include f.flex(center);
    }
}

.skill-list {
    @include f.flex(center);
    flex-wrap: wrap;
    gap: 54px;
    max-width: 40%;
}

.my-skills {
    @include f.flex(center);
    flex-direction: column;
    max-width: 30vw;
    padding-left: 54px;
    ;

    >h2 {
        font-size: 90px;
    }

    >span {
        text-align: center
    }

    >a {
        @include btn.getInTouchBtn();
    }
}

.languages{
    @include f.flex(start, start);
}