@use '../../../../styles.scss' as *;
@use '../../../app.component.scss' as shadow;

main {
    @include flex(center, start)
}

.social-links-ctn {
    @include flex(start);
    background-color: rgb(244, 244, 246);
    @include shadow.top-shadow();

    width: 100%;
    gap: 42px;
    position: absolute;
    max-width: $maxWidth;

    >hr {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        width: 80px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .social-links {
        @include flex(start);
        padding: 12px;
        gap: 42px;

        >a {
            @include flex(start);
            color: black;

            >img:hover {
                transition: all .225s ease-in-out;
                transform: scale(1.15);
            }
        }
    }
}