@use '../../../styles.scss' as f;

main{
    @include f.flex(start);
    flex-direction: column;
    gap: 36px;
    height: 50vh;
    width: 100%;
    color: white;
    
    >h2{
        font-size: 90px;
        width: 70%;
    }

    >section{
        @include f.flex(start, stretch);
        flex-direction: column;
        gap: 24px;
        padding: 0 36px;
        width: 70%;
    }
}