@use '../../../styles.scss' as f;




footer {
    @include f.flex(center, start);

    .footer {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        color: white;
        width: 100%;
        max-width: f.$maxWidth; 


        >hr {
            align-self: center;
            width: 80%;
        }


        >section {
            @include f.flex(space-between);
            width: 100%;
            padding: 36px 0;

            >a {
                >img {
                    width: 250px;
                    height: 65px;
                    object-fit: contain;
                }
            }
        }
    }
}

.footer-links {
    @include f.flex(center);
    flex-direction: column;
    gap: 8px;
    margin-right: 24px;

    >div {
        @include f.flex(space-evenly);
        width: 250px;

        >a {
            color: white;
        }

        >a:hover {
            transform: scale(1.15);
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 560px) {
    .footer{
        >section{
            flex-direction: column;
            gap: 24px;
        }
    }
}