@use '../../../styles.scss' as f;
@use '../../app.component.scss' as shadow;



.portfolio{
    @include f.flex(center);
    flex-direction: column;
    @include shadow.top-shadow();
    width: 100%;
    background-color: rgb(244, 244, 246);
    // background-color: #141414;
    gap: 36px;

    >h2{
        width: 70%;
        @include f.flex(start);
        font-size: 90px;
        color: black;
        margin-top: 54px;
    }
}

.reverse-card{
    justify-content: end !important;
}