// @use '../../../../styles.scss' as f;

// $main-width: 100%;

// :host {
//     width: 70%;
//     @include f.flex(start);
    
// }

// .project-card {
//     @include f.flex(start);
//     width: $main-width;
//     height: 450px;
//     background-color: #292929;
//     border-radius: 24px;
//     margin-left: 54px;
//     box-shadow: 20px 0px 20px #141414;
//     gap: 54px;
//     cursor: pointer;
//     position: relative;
//     z-index: 1;

//     >img {
//         height: 450px;
//         width: 500px;
//         object-fit: cover;
//     }
// }

// .project-description {
//     @include f.flex(center, start);
//     flex-direction: column;
//     gap: 18px;
//     color: #f4f4f6; 


//     >div {
//         @include f.flex(start, start);
//         flex-direction: column;
//         gap: 8px;

//         >h3 {
//             font-size: 36px;
//         }

//         >span {
//             font-size: 24px;
//             color: grey;
//         }

//         >p {
//             width: $main-width;
//             padding-right: 54px;
//         }

//         >a {
//             color: white;
//             font-size: 18px;
//             transition: all 225ms ease-in-out;

//             &:hover {
//                 transform: scale(1.15);
//             }
//         }
//     }
// }


// .links {
//     gap: 18px !important;
// }

// #liveTestLink {
//     border: 1px solid white;
//     border-radius: 10px;
//     padding: 14px;

//     &:hover {
//         background-color: grey;
//     }
// }


// .reverse-card{
//     flex-direction: row-reverse;
// }

// .reverse-project-description{
//     @include f.flex(center, end);
//     right: 35%;
//     margin-left: 108px;
//     margin-right: 54px;
//     left: 0;

//     >div{
//         @include f.flex(end, end);

//         >p{
//             padding-right: 0;
//         }
//     }
// }











@use '../../../../styles.scss' as f;

$main-width: 100%;

:host {
    width: 90%;
    @include f.flex(start);
    
}

.project-card {
    @include f.flex(start);
    width: $main-width;
    height: 450px;
    background-color: #292929;
    border-radius: 24px;
    // margin-left: 54px;
    box-shadow: 20px 0px 20px #141414;
    gap: 54px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    >img {
        height: 450px;
        width: 500px;
        object-fit: cover;
    }
}

.project-description {
    @include f.flex(center, start);
    flex-direction: column;
    gap: 18px;
    color: #f4f4f6; 


    >div {
        @include f.flex(start, start);
        flex-direction: column;
        gap: 8px;

        >h3 {
            font-size: 36px;
        }

        >span {
            font-size: 24px;
            color: grey;
        }

        >p {
            width: $main-width;
            padding-right: 54px;
        }

        >a {
            color: white;
            font-size: 18px;
            transition: all 225ms ease-in-out;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}


.links {
    gap: 18px !important;
}

#liveTestLink {
    border: 1px solid white;
    border-radius: 10px;
    padding: 14px;

    &:hover {
        background-color: grey;
    }
}


.reverse-card{
    flex-direction: row-reverse;
}

.reverse-project-description{
    @include f.flex(center, end);
    right: 35%;
    margin-left: 108px;
    margin-right: 54px;
    left: 0;

    >div{
        @include f.flex(end, end);

        >p{
            padding-right: 0;
        }
    }
}