<main (mouseenter)="toggleProjectDescription()" (mouseleave)="toggleProjectDescription()"
    [@slideInOutAnimation]="isOpen ? 'open' : 'closed' " class="project-card">
    <img src="{{ project.projectPicture }}" alt="">
    @if (isOpen) {
    <section class="project-description" [ngClass]=" {'openedDescription': isOpen, 'closedDescription': !isOpen}">
        <div>
            <h3>{{ project.projectName }}</h3>
            <span>{{ project.usedTechnologies }}</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quam tenetur corporis nostrum, ad esse sit
                alias, quo facere aliquid dolor? Neque, eaque culpa voluptate sit cum harum dignissimos alias?
            </p>
        </div>

        <div class="links">
            <a href="#"><img src="assets/icons/github-white.png" alt=""></a>
            <a id="liveTestLink" href="#">Live testen</a>
        </div>
    </section>
    }  

</main>