@use '../../../../styles.scss' as f;

$main-width: 100%;


main {
    width: 100%;
}

:host {
    width: 70%;
    @include f.flex(start);
    position: relative;
}

.project-card {
    @include f.flex(start);
    // width: 30%;
    width: $main-width;
    height: 350px;
    background-color: #141414;
    border-radius: 24px;
    margin-left: 54px;
    box-shadow: 20px 0px 20px #141414;
    gap: 54px;
    cursor: pointer;

    >img {
        height: 350px;
        width: 392px;
        object-fit: cover;
    }
}

.project-description {
    @include f.flex(center, start);
    flex-direction: column;
    gap: 18px;
    color: #f4f4f6;
    position: absolute;
    left: 34%;
    margin-left: 54px;


    >div {
        @include f.flex(start, start);
        flex-direction: column;
        gap: 8px;

        >h3 {
            font-size: 36px;
        }

        >span {
            font-size: 24px;
            color: grey;
        }

        >p {
            width: 100%;
            padding-right: 54px;
        }

        >a {
            color: white;
            font-size: 18px;
            transition: all 225ms ease-in-out;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}


.links {
    gap: 18px !important;
}

#liveTestLink {
    border: 1px solid white;
    border-radius: 10px;
    padding: 14px;

    &:hover {
        background-color: grey;
    }
}

// .openedDescription {
//     display: flex;
// }

// .closedDescription {
//     display: none;
// }